<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536821986609-mgh81ub415uttrlogi94rh5q1m7cq35m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536821986609-mgh81ub415uttrlogi94rh5q1m7cq35m</string>
	<key>API_KEY</key>
	<string>AIzaSyBSDx5bfMir0zFVUpMiXYWayj_C6wnRsAo</string>
	<key>GCM_SENDER_ID</key>
	<string>536821986609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>park-bark.Park-Bark</string>
	<key>PROJECT_ID</key>
	<string>parkandbark-ec679</string>
	<key>STORAGE_BUCKET</key>
	<string>parkandbark-ec679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536821986609:ios:e4faa556ab4bb70e</string>
	<key>DATABASE_URL</key>
	<string>https://parkandbark-ec679.firebaseio.com</string>
</dict>
</plist>